@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

.v-application {
  font-family: -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue',
  Ubuntu, Arial, sans-serif !important;
}

.w-full {
  width: 100%;
}

.create-workspace-input-form-title {
  font-size: 2em;
}

.create-workspace-input-form-subtitle {
  @extend .create-workspace-input-form-title;
  font-size: 1em;
}

.create-workspace-form {
  display: flex;
  min-width: 319px;
  width: 450px;
  margin: 0 12px 0 12px;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

.create-workspace-form-content {
  margin-top: 48px;
}

.input-workspace-name {
  &::v-deep input {
    text-align: left;
    font-size: larger;
    letter-spacing: 1px;
  }
}

.login-card {
  min-height: 350px;
  min-width: 500px;
}

// Tiptap
.ProseMirror:focus {
  outline: none;
}

@import "text";
