@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.v-application {
  font-family: 'Varela Round', sans-serif !important;
}

.w-full {
  width: 100%;
}

.nuxt-link-active {
  font-size: 13px;
  text-decoration: underline;
}

.create-workspace-input-form-title {
  font-size: 1.5em;
  margin-top: 8px;
}

.create-workspace-input-form-subtitle {
  @extend .create-workspace-input-form-title;
  font-size: 1em;
}

.create-workspace-form {
  height: 350px;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 10px;
}

.create-workspace-form-content {
  margin-top: 48px;
}

.input-workspace-name {
  &::v-deep input {
    text-align: left;
    font-size: larger;
    letter-spacing: 1px;
  }
}

.login-card {
  min-height: 350px;
  min-width: 500px;
}
